@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Source+Code+Pro&display=swap');
/* ||RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
image {
  display: block;
}
/* ||VARIABLES */
:root {
  /* FONTS */
  --FF: "Comfortaa", cursive;
  --FS: clamp(1.75rem, 3vh, 3rem);
  --FS-SM: clamp(1.5rem, 2vh, 2rem);
  --FS-XS: clamp(1.25rem, 1.5vh, 1.5rem);
  --ALTFS: 0.8rem;
  --FS-XL: 4rem;
  --FS-XXL: 5rem;
  --FS-FEW: 8rem;
  /* ||ANIMATIONS */
  --FANIM:'Source Code Pro', monospace;
  /* COLORS */
  --BGCOLOR1: aliceblue;
  --ALTBGCOLOR: #e7a331;
  --FC: #000;
  /* GENERAL */
  --BORDER: 2px solid #1e293b;
  --BORDER-RADIUS: 5px;
  --SHADOW: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  --PADDING: 1rem;
}
body {
  background-color: var(--BGCOLOR1);
  font-family: var(--FF);
  font-size: var(--FS-XS);
  color: var(--FC);
  margin: 0 auto;
  width: 70%;
}
/* ||HEADER */
nav {
  top:0;
}
.offscreen {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.nav__icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--PADDING);
  font-size: var(--ALTFS);
  background-color: var(--BGCOLOR1);

  padding-bottom: 0;
  padding-top: 3px;
}

.ul__nav {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-position: inside;
  place-items: Center;
  border-bottom: var(--BORDER);
  background-color: #1e293b;
  width: 100%;
  border-radius: var(--BORDER-RADIUS);
}
.nav__icons h2 {
  font-size: var(--ALTFS);
}
/* icons size */
.nav__icons {
  font-size: var(--FS);
}
.nav__icons i:hover {
  cursor: pointer;
  color: var(--ALTBGCOLOR);
}
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--ALTBGCOLOR);
}
a:focus-within {
  outline: 2px solid var(--ALTBGCOLOR);
}
a:visited {
  color: tomato;
}
a:hover {
  filter: brightness(150%);
  text-decoration: underline;
}

a:active {
  color: darkgoldenrod;
}

/* ||hero */
#hero {
  background-color: var(--ALTBGCOLOR);
  background-image: url(../images/hero-bg.jpg);
  background-size:cover;
  padding: var(--PADDING);
  border-bottom: var(--BORDER);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
#hero h2 {
  font-size: var(--FS-FEW);
  padding-bottom: 0.2rem;
  letter-spacing: 5px;
  color: aliceblue;
  text-shadow: 3px 3px 3px #000;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
.hero_viewport button {
  display: block;
  font-size: var(--FS-SM);
  padding: 1rem 2rem;
  border-radius: var(--BORDER-RADIUS);
  border: var(--BORDER);
  background-color: var(--ALTBGCOLOR);
  color: var(--FC);
  margin: 0 auto;
  cursor: pointer;
  margin-top: 6rem;
  color: whitesmoke;
}
.hero_viewport p {
  font-size: var(--FS);
  text-align: center;
  color: papayawhip;
  text-shadow: 3px 3px 3px #000;
  font-family:var(--FANIM);
}
.hero_viewport h3 {
  font-size: var(--FS);
  text-align: center;
  color: papayawhip;
  padding: var(--PADDING) 2rem;
  margin-top: 0;
  text-shadow: 3px 3px 3px #000;
}
.about {
  min-height: 100vh;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 80px auto 75px;
  grid-template-areas:
    "hd hd "
    "im1 h3 "
    "im2 p ";
  gap: 2rem;
  position: relative;
  border-bottom: var(--BORDER);
}
.about h2 {
  grid-area: hd;
  font-size: var(--FS-XXL);
  text-align: center;
  color: var(--ALTBGCOLOR);
  padding: var(--PADDING) 2rem;
  margin-top: 0;
  text-shadow: 3px 3px 3px #000;
}

.about img {
  width: 300px;
  height: auto;
  border-radius: var(--BORDER-RADIUS);
  margin-left: 4rem;
}
.about img:nth-child(1) {
  grid-area: im1;
  top: 0;
  left: 0;
  transform: rotate(10deg);
}
.about img:nth-child(2) {
  grid-area: im2;
  bottom: 0;
  right: 0;
  transform: rotate(-20deg);
}
.about h3 {
  grid-area: h3;
  font-size: var(--FS-XL);
  text-align: center;
  color: var(--FC);
  padding: var(--PADDING) 2rem;
  margin-top: 0;
  text-shadow: 2px 1px 3px #000;
}
.about p {
  grid-area: p;
  font-size: var(--FS);
  text-align: center;
  color: var(--FC);
  padding: var(--PADDING) 2rem;
  margin-top: 0;
}

#more-about {
  min-height: 100vh;
  flex-grow: 1;
  border-bottom: var(--BORDER);
}
#more-about h2 {
  grid-area: hd;
  font-size: var(--FS-XXL);
  text-align: center;
  color: var(--ALTBGCOLOR);
  padding: var(--PADDING) 2rem;
  margin-top: 0;
  text-shadow: 3px 3px 3px #000;
}
#more-about h3 {
  grid-area: h3;
  font-size: var(--FS-XL);
  text-align: center;
  color: var(--FC);
  padding: var(--PADDING) 2rem;
  margin-top: 0;
  text-shadow: 2px 1px 3px #000;
}

#more-about p {
  font-size: var(--FS);
  text-align: center;
  color: var(--FC);
  padding: var(--PADDING) 2rem;
  margin-top: 0;
}
#more-about .specials {
  display: flex;
  flex-flow: row wrap;
}
#more-about img {
  width: 300px;
  height: auto;
  border-radius: var(--BORDER-RADIUS);
  margin: 1.5rem;
  display: block;
  aspect-ratio: 1/1;
}
#more-about button {
  font-size: var(--FS-SM);
  padding: 1rem 2rem;
  border-radius: var(--BORDER-RADIUS);
  border: var(--BORDER);
  background-color: var(--ALTBGCOLOR);
  color: var(--FC);

  cursor: pointer;
  margin-top: 6rem;
  color: whitesmoke;
  margin-bottom: 20%;
  margin-left: 50%;
}
/* |DELICACY */
#delicacies {
  min-height: 100vh;
  flex-grow: 1;
  border-bottom: var(--BORDER);
}
#delicacies h2 {
  text-align: center;
  color: var(--ALTBGCOLOR);
  text-shadow: 3px 3px 3px #000;
  font-size: var(--FS-XL);
}
#delicacies h3 {
  text-align: center;
  font-style: italic;
  padding: var(--PADDING);
}
.pinterest_gallery {
  columns: 3;
  gap: 1.5rem;
}
.pinterest {
  width: 100%;
  border-radius: var(--BORDER-RADIUS);
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .pinterest_gallery {
    columns: 2;
  }
}
@media screen and (max-width: 480px) {
  .pinterest_gallery {
    columns: 1;
  }
}
/* style table */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;

  border-radius: var(--BORDER-RADIUS);
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
tr {
  text-align: center;
}
th {
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
}
#menu {
  min-height: 100vh;
  border-bottom: var(--BORDER);
}
#menu h2 {
  text-align: center;
}

/* STYLE FORM */
form {
  margin-top: 2rem;
}
form h2 {
  text-align: center;
  color: var(--ALTBGCOLOR);
  text-shadow: 3px 3px 3px #000;
}
fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
input {
  width: 50%;
  height: 2rem;
  margin: 1rem;
  border-radius: var(--BORDER-RADIUS);
  border: var(--BORDER);
  padding: 0.5rem;
}
textarea {
  width: 50%;
  height: 10rem;
  margin: 1rem;
  border-radius: var(--BORDER-RADIUS);
  border: var(--BORDER);
  padding: 0.5rem;
}
fieldset button {
  width: 10rem;
  height: 2rem;
  margin: 1rem;
  border-radius: var(--BORDER-RADIUS);
  border: var(--BORDER);
  padding: 0.5rem;
  background-color: var(--ALTBGCOLOR);
  color: var(--FC);
  cursor: pointer;
  color: whitesmoke;
}

/* ||FOOTER */

.footer__address {
  columns: 2 250px;
}
.copy {
  column-span: all;
  text-align: center;
  color: white;
  background-color: #000;
}
